.text-green {
    color: #56a080;
}

.title-green {
    color: #39a375;
}

.hover-link-green {
    color: #67efb5;
}


.button-green{
    color: #56a080;
}

.grey {
    color: #7f8482;
}

.icon-green {
    color: #00d6c6;
}

.field-green {
    color: #0e8e56;
}