#field-container {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid lightgrey;
}

#field-board {
    height: 800px;
    width: 94%;
    margin: 0 auto;
}

.tab {
    background-color: darkgray;
    height: 300px;
    width: 31%;
    margin-top: 40px;
    margin-right: 3.5%;
    float: left;
    opacity: 0.5;
}

.right {
    margin-right: 0;
}

.tab:hover {
    opacity: 1;
}

.tab-content {
    width: 90%;
    margin: 10px auto;
}

.tab-content h1 {
    color: #0e8e56;
    font-size: 50px;
    margin-top: 25%;
    margin-left: 20px;
}

.tab-detail {
    margin-left: 22px;
    opacity: 0;
}

.progress {
    height: 15px;
    width: 200px;
    border: 1px solid dimgrey;
    border-radius: 5px;
}

.bar {
    height: 100%;
    width: 30%;
    background: #10995d;
    border-radius: 5px;
    font-weight: 300;
}

.tab-detail p {
    margin-top: 0;
    margin-bottom: 5px;
    color: #0e8e56;
    font-weight: 600;
}

.tab-detail button {
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #0e8e56;
    border: 1px solid #0e8e56;
    border-radius: 5px;
    color: white;
    font-size: 17px;
}

.tab-detail button:hover {
    background-color: #10995d;

}