#signup-container {
    margin-top: 50px;
    height: 600px;
    background-color: rgb(250, 250, 250);
    width: 100%;
}

#signup-container p {
    padding: 120px 0 0 320px;
    font-size: 25px;
    font-weight: 800;
    color:  #39a375;
}

#signup-content {
    margin-left: 20%;
    margin-right: 40%;
    height: 100%;
}

#signup-content form {
    font-size: 17px;
    color: #30604b;
    text-align: right;
}

#signup-content input {
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 3px;
}


#signup-content input:last-child {
    margin-top: 20px;
    background-color: #56a080;
    color: white;
    padding: 5px 70px;
    border-radius: 3px;
    font-size: 15px;
}

#signup-content input:focus {
    border: 2px solid #67efb5;
    outline: none;
}
